<head>
  <title>Adicionar cliente</title>
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/add_clients.css')
  }}">
</head>

<body>
  <div class="title">
    <h1>
      Adicionar
      <span>cliente</span>
    </h1>
  </div>
  <div class="form">
    <form method="POST" action="/clients/add">
      <div>
        <div class="field">
          <label for="fname">Nome</label>
          <input type="text" name="fname" required />
        </div>
        <div class="field">
          <label for="cpf">CPF</label>
          <input type="text" name="cpf" pattern="[0-9]{11}" />
        </div>
        <div class="field">
          <label for="address">Endereço</label>
          <input type="text" name="address" />
        </div>
        <div class="field">
          <label for="phone">Telefone</label>
          <input type="text" name="phone" />
        </div>
      </div>
      <div class="action">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</body>
