<!DOCTYPE html>
<head>
  <title>Pesquisar clientes</title>
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/searchclients.css')}}">
</head>

<body>
  <div class="title">
    <h1>
      Pesquisar
      <span>clientes</span>
    </h1>
  </div>
  <div>
    <form method="POST" action="/clients/find">
      <div class="field">
        <label>Nome </label>
        <input type="text" name="fname" /><br />
      </div>
      <div class="action">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>

  <br /><br />
  <!-- <h2>Descrição</h2> -->
  <table class="form">
    <colgroup>
      <col class="col1" span="3" />
      <col class="col2" />
    </colgroup>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>CPF</th>
      <th>Address</th>
    </tr>

    {% for c in clients %} {% if c.persist %}
    <tr>
      <td>{{ c.id }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.cpf }}</td>
      <td>{{ c.address }}</td>
    </tr>
    {% endif %} {% endfor %}
  </table>
</body>
